<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Uniflow</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('js/libs/plugins/bootstrap/css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ asset('css/ionicons.min.css') }}">
    <!-- iCheck -->
    <link rel="stylesheet" href="{{ asset('js/libs/plugins/iCheck/flat/blue.css') }}">
    <!-- Morris chart -->
    <link rel="stylesheet" href="{{ asset('js/libs/plugins/morris/morris.css') }}">
    <!-- jvectormap -->
    <link rel="stylesheet" href="{{ asset('js/libs/plugins/jvectormap/jquery-jvectormap-1.2.2.css') }}">
    <!-- Date Picker -->
    <link rel="stylesheet" href="{{ asset('js/libs/plugins/datepicker/datepicker3.css') }}">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{ asset('js/libs/plugins/select2/select2.min.css') }}">
    <!-- Tag It -->
    <link rel="stylesheet" href="{{ asset('js/libs/plugins/tagit/css/jquery.tagit.css') }}">
    <link rel="stylesheet" href="{{ asset('js/libs/plugins/tagit/css/tagit.ui-zendesk.css') }}">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="{{ asset('js/libs/plugins/daterangepicker/daterangepicker-bs3.css') }}">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="{{ asset('js/libs/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('dist/css/AdminLTE.min.css') }}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{{ asset('dist/css/skins/_all-skins.min.css') }}">

    <link rel="stylesheet" href="{{ asset('css/uniflow.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div id="app"></div>

{#<script src="{{ asset('js/libs/polyfill.min.js') }}"></script>
<script data-main="js/main" src="{{ asset('js/libs/require.min.js' ) }}"></script>#}

{#<script src="{{ asset('js/libs/jquery.min.js') }}"></script>
<script src="{{ asset('js/libs/bootstrap.min.js') }}"></script>#}
{#<script src="{{ asset('js/libs/vue.min.js') }}"></script>
<script src="{{ asset('js/libs/superagent.min.js') }}"></script>#}
{#<script src="{{ asset('js/libs/require.min.js') }}"></script>#}

{#<script src="{{ asset('js/components/text/index.js') }}"></script>
<script src="{{ asset('js/pages/home/index.js') }}"></script>
<script src="{{ asset('js/uniflow.js') }}"></script>#}

<script src="{{ asset('js/libs/systemjs/system.js') }}"></script>
<script src="{{ asset('js/config.js') }}"></script>
</body>
</html>