{% extends "@Front/layout.html.twig" %}

{% block body %}

    <div class="container-fluid content content-login">

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'user.login.title'| trans }}</h3>
                    </div>
                    <div class="box-body">
                        {% for type, messages in app.session.flashBag.all %}
                            {% for message in messages %}
                                <div class="{{ type }}">
                                    {{ message|trans({}, 'FOSUserBundle') }}
                                </div>
                            {% endfor %}
                        {% endfor %}

                        <form action="{{ path('fos_user_security_check') }}" method="post" novalidate>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                            <input type="hidden" id="remember_me" name="_remember_me" value="on"/>

                            <div class="form-group col-sm-12">
                                <input class="form-control" id="username" name="_username" value="{{ last_username }}"
                                       placeholder="Email" required="required"/>
                            </div>

                            <div class="form-group col-sm-12">
                                <input type="password" class="form-control" id="password" name="_password"
                                       required="required" placeholder="Password"/>
                            </div>

                            <div class="form-group col-sm-12">
                                <button type="submit"
                                        class="btn btn-primary btn-block btn-flat">{{ 'user.login.submit'| trans }}</button>
                            </div>

                            <div class="form-group col-sm-12">
                                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}"
                                   class="btn btn-info btn-block btn-flat">{{ 'user.login.facebook'| trans }}</a>
                            </div>

                            {#<div class="form-group col-sm-12">
                                <a href="#" class="btn btn-info btn-block btn-flat">{{ 'user.login.meetup'| trans }}</a>
                            </div>#}

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <p><a href="{{ path('fos_user_registration_register') }}"><span
                                class="glyphicon glyphicon-log-in register"
                                aria-hidden="true"></span> {{ 'user.register.new' | trans }}</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="callout callout-info">
                    <h4>Demo</h4>

                    <p>
                        Or try a demo account :<br/>
                        login demo@darkwood.fr<br/>
                        password : demo
                    </p>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

